.group-one-firstFloor {
    height: 49vh;
}
.group-two-firstFloor{
    height: 50vh;
}
.navbar-background2{
    background: #CC664A;
background: linear-gradient(360deg, #d7603f 0%, #c1654c 35%, #e6aa6f 100%);
height: 100uh;
}
/* .btn-font {
    font-size: 10px !important;
} */



