.congo-button {
  display: flex;
  justify-content: center;
}
.set-position-btn {
  position: absolute;
  bottom: 5%;
  padding: 0px;
  border: none;
  background-color: transparent;
}
.set-position-btn img {
  height: 52px;
}
.set-btn-tell-teacher {
  background-color: #075397;
  color: #fff;
  padding: 6px 18px;
  border-radius: 12px;
  font-family: "circular";
  font-weight: 900;
  cursor: default !important;
}

.congo-msg {
  text-align: center;
  font-weight: 500;
  font-size: 17px;
}

@keyframes tilt-shaking {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.2);
  }
}
