.meter-img {
  height: 210px;
  width: 169px;
  cursor: pointer;
}
.d-none-btns-sidebar {
  display: none;
}
.set-main-flex-container {
  /* height: 60vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.meter-inner-img {
  height: 248px;
  width: 100%;

  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center center; */
  margin: auto;
}
.cursor-disabled {
  cursor: not-allowed;
}
.group-btn {
  color: #892929;
  background-color: #fedb97;
  font-weight: bolder;
  border: none;
}
.groupA {
  padding-top: 31px;
}
.swal2-container.swal2-center > .swal2-popup {
  background-color: #b3d6ef !important;
  background: linear-gradient(360deg, #b3d6ef 0%, #b8d4e8 35%, #b5c9d7 100%);
  border: 2px solid white;
  border-radius: 6%;
}
.swal2-html-container {
  color: #474747 !important;
  font-family: "Nunito", sans-serif;
  font-size: 24px !important;
}
.swal2-title {
  color: #085ca8 !important;
  font-size: 2.875em !important;
  font-weight: 700 !important;
  font-family: "Nunito", sans-serif;
}
.set-my-title-size {
  font-size: 2em !important;
}
.set-my-custom-container {
  margin: 0px 12px !important;
}
/* .modal-my-custom  */
.groupB {
  padding-top: 41px;
}
.position-set1 {
  height: 53px;
  font-weight: 900;
  width: 70%;
  font-size: 22px;
  font-family: "Nunito", sans-serif;
}
.position-set2 {
  height: 51px;
  width: 70%;
  font-weight: 900;
  font-size: 22px;
  font-family: "Nunito", sans-serif;
}
.font-height-width {
  width: 40px;
  font-size: 56%;
  font-weight: 900;
  font-family: "Nunito", sans-serif;
  border: 1px solid white;
  height: 52px;
  margin-right: 0.5%;
}

.font-height-width-groupB {
  width: 122px;
  font-size: 151%;
  font-family: "Nunito", sans-serif;
  border: 1px solid white;
  height: 50px;
}

.breakerImg {
  height: 52px;
  /* width: 19px; */
}
.btnHover {
  /* box-shadow: 10px 10px 34px; */
  /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.btn-shadow {
  box-shadow: rgba(0, 0, 0, 0.15) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.12) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.03) 0px 2px 1px,
    rgba(0, 0, 0, 0.05) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.05) 0px 16px 8px, rgba(0, 0, 0, 0.02) 0px 28px 13px;
  color: aliceblue;
  border: none;
}
.check-exercise-div {
  text-align: center;
  margin-top: 8%;
}
.btn-Check-Exercise {
  background-color: #b41c1c;
  border: none;
  color: white;
  border-radius: 13px;
  /* padding: 7%; */
  width: 157px;
  font-family: "Nunito", sans-serif;
  height: 54px;
  font-size: 28px;
}
.btn-nav-close {
  border: none;
  border-radius: 100%;
  background: black;
  color: white;
  cursor: pointer;
}
.position-close {
  position: absolute;
  top: -8px;
  left: 71px;
}
.metterHover[data-title] {
  position: relative;
  /* text-decoration: underline dotted;  */
}
.metterHover[data-title]:hover::after,
.metterHover[data-title]:focus::after {
  content: attr(data-title);
  position: absolute;
  left: 50%;
  top: -35px;
  transform: translateX(-50%);
  width: auto;
  white-space: nowrap;
  background: white;
  border: 2px solid #b41c1c;
  font-family: "Nunito", sans-serif;
  color: #b41c1c;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.4);
  font-size: 16px;
  padding: 3px 10px;
  box-shadow: 2px 2px 2px 1px;
}

.closeHover[data-title] {
  position: fixed;
  text-decoration: underline dotted;
}
.closeHover[data-title]:hover::after,
.closeHover[data-title]:focus::after {
  content: attr(data-title);
  position: absolute;
  left: -5px;
  top: -35px;
  transform: translateX(-50%);
  width: auto;
  white-space: nowrap;
  background: white;
  border: 2px solid #b41c1c;
  font-family: "Nunito", sans-serif;
  color: #b41c1c;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.4);
  font-size: 16px;
  padding: 3px 10px;
  box-shadow: 2px 2px 2px 1px;
}

.set-floor-title {
  text-align: center;
  color: #000;
  font-weight: 800;
  font-family: "Nunito", sans-serif;
  font-size: 25px;
  margin-top: 18px;
  text-shadow: 0 2px 3px #f7f7f7, 1px 3px 4px #ababab, 0 8px 3px #6c6c6c,
    0 0px 4px #6a6767, 0 0px 0px #565656, 0 0px 4px #707070, 0 7px 4px #585858;
}
.set-legend-text {
  display: flex;
  justify-content: left;
  color: #000;
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  /* text-shadow: 0 0px 3px #f7f7f7, 1px -2px 4px #ababab, 0 2px 3px #6c6c6c, 0 0px 0px #6a6767, 0 0px 0px #565656, 0 0px 4px #707070, 0 7px 4px #585858; */

  /* text-shadow: 0 2px 3px #f7f7f7, 1px 3px 4px #ababab, 0 8px 3px #6c6c6c, 0 0px 4px #6a6767, 0 0px 0px #565656, 0 0px 4px #707070, 0 7px 4px #585858; */
}
.legend {
  margin-bottom: -15px;
  background-color: white;
  padding: 6px 10px;
  border-radius: 10px;
}
.set-legend-text p:nth-child(1) {
  color: #b41d1d;
  margin-bottom: 6px;
  font-size: 12px;
  font-weight: 800;
}
.grp-detail {
  display: flex;
  font-size: 18px;
  margin-left: 8px;
  text-align: left;
  margin-bottom: 0px !important;
}

.set-link-color {
  color: #b41d1d !important;
  font-size: 14px;
  font-weight: 800;
  text-decoration: none;
  border-bottom: 2px solid #b41d1d;
  display: inline-block;
  margin-bottom: 6px;
}

@media (min-width: 1800px) {
  .meter-inner-img,
  .meter-img {
    height: 352px;
    width: 100%;
  }

  .groupA {
    padding-top: 56px;
  }
  .groupB {
    padding-top: 75px;
  }

  .position-set1 {
    height: 65px;
    width: 70%;
    font-size: 31px;
  }
  .position-set2 {
    height: 65px;
    width: 70%;
    font-size: 31px;
    font-family: "Nunito", sans-serif;
  }

  .font-height-width {
    width: 69px;
    font-size: 72%;
    height: 88px;
  }
  .font-height-width-groupB {
    width: 150px;
    font-size: 151%;
    height: 62px;
  }
  .position-close {
    left: 120px;
  }
  .btn-Check-Exercise {
    width: 189px;
    height: 72px;
    font-size: 34px;
  }
}
@media (max-width: 1600px) {
  .set-link-color {
    margin-bottom: 0px;
  }
  .set-legend-text p:nth-child(1) {
    margin-bottom: 2px;
  }
  .set-link-color {
    margin-bottom: 0px;
  }
  .set-legend-text {
    padding-top: 0px;
  }
}
@media (max-width: 1440px) {
  .avatar-name {
    font-size: 112% !important;
  }
  .set-legend-text {
    font-size: 13px !important;
  }
  .grp-detail {
    font-size: 11px !important;
  }
  .set-legend-text {
    padding-top: 2px !important;
  }
  .check-exercise-div {
    margin-top: 8% !important;
  }
}
@media (min-width: 1441px) and (max-width: 1536px) {
  .meter-inner-img {
    height: 280px !important;
    width: 100% !important;
  }
  .font-height-width {
    width: 55px !important;
    height: 72px !important;
    margin-top: 12px !important;
  }
}
@media (min-width: 1368px) and (max-width: 1440px) {
  .meter-inner-img {
    height: 258px !important;
    width: 100% !important;
  }
  .font-height-width {
    width: 51px !important;
    height: 64px !important;
    margin-top: 10px !important;
  }
}
@media (max-width: 1367px) {
  .font-height-width {
    width: 48px !important;
    height: 61px !important;
    margin-top: 8px !important;
  }
  .set-floor-title {
    font-size: 22px;
  }
}

@media (max-width: 1200px) {
  .meter-img,
  .meter-inner-img {
    height: 186px;
    width: 154px;
  }
  .groupA {
    padding-top: 27px;
  }
  .position-set1 {
    height: 46px;
  }
  .groupB {
    padding-top: 38px;
  }
  .position-set2 {
    height: 47px;
  }
  .position-close {
    left: 56px;
  }
  .font-height-width {
    width: 36px;
    font-size: 75%;
    height: 47px;
  }
  .font-height-width-groupB {
    width: 109px;
    font-size: 137%;
    height: 46px;
  }
  .btn-Check-Exercise {
    background-color: #b41c1c;
    border: none;
    color: white;
    border-radius: 13px;
    /* padding: 7%; */
    width: 130px;
    font-family: "Nunito", sans-serif;
    height: 46px;
    font-size: 23px;
  }
}
.set-position-bottom-finish {
  position: absolute;
  bottom: 12px;
  right: 24px;
  z-index: 1000;
}
.set-btn-finish {
  border: none;
  color: white;
  border-radius: 13px;
  /* width: 157px; */
  font-family: "Nunito", sans-serif;
  height: 54px;
  font-weight: 900;
  font-size: 28px;
  /* background: linear-gradient(360deg, #cc664a 10%, #cf7359 80%, #fcc184 97%);
   */
  padding: 5px 25px;
  background-color: #055dad;
}
/* @media (min-width: 1920px){
  .position-set1, .position-set2 {   
    left: 6.7%;
}
.position-close{
  left: 12%;
}
.position-Bath {
  left: 4.9%
}
.position-living {
  left: 7.3%;
}
.position-Hall {
  left: 9.5%;
}
.position-Kitchen{
  left: 5%;
}
}

@media (min-width: 2560px){
  .position-set1, .position-set2 {   
    left: 7%;
}
.position-close{
  left: 11.2%;
}
.position-Bath {
  left: 5.8%;
}
.position-Kitchen{
  left: 5.88%;
}
.position-living{
    left: 7.6%;
}
.position-Hall {
  left: 9.3%;
}
}


@media (max-width: 1290px) {
  .position-set1, .position-set2 {
    left: 71px;
  }

  .position-Bath {
    left: 3.2%
  }
  .position-living {
    left: 6.7%;
  }
  .position-Hall {
    left: 10.1%;
  }
  .position-Kitchen{
    left: 3.3%;
  }

.position-close {
    top: 40px;
    left: 178px;
}
}
@media (max-width: 1200px){
    .meter-img, .meter-inner-img{
        height: 191px;
        width: 152px;
      }

      .position-set2 {
        left: 64px;
        top: 173px;
    }
    .position-Bath {
        left: 3.7%;
    top: 77px;
    height: 47px;
    width: 38px;
    font-size: 55%;
      }
      .position-Hall {
        left: 10.1%;
        top: 77px;
        height: 47px;
        width: 33px;
        font-size: 55%;
      }
     
      .position-living {
        left: 6.9%;
       
    top: 77px;
    height: 47px;
    width: 38px;
    font-size: 55%;
      }
      .position-Kitchen{  
        left: 3.9%;
        top: 163px;
        width: 105px;
        height: 44px;
      }
    .position-close{
        left: 158px;
    }
      
}
@media (max-width: 1071px) {
    .position-close {
        left: 148px;
    }

.position-set1 {
    left: 57px;
    top: 89px;
}
.position-set2 {
    left: 57px;
    top: 173px;
}
.position-Bath{

    left: 3.2%;

}
.position-living {
    left: 6.6%;
}

    .position-Hall{
        left: 10.2%;
    }
    .position-Kitchen{
        left: 10.2%;
    }
  
} */
