.firstFloor-main-div-exercise-eng {
  background-repeat: no-repeat;
  position: relative;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  background-image: url("../../patrick-exercise-new/first-floor-eng.png");
  background: #f9bb81;
}

.firstFloor-main-div-exercise-dutch {
  background-repeat: no-repeat;
  position: relative;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  background-image: url("../../patrick-exercise-new/first-floor-dutch.png");
  background: #f9bb81;
}
