.floor-label {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  left: 55%;
  transform: translateX(-50%);
}

.floor-label p {
  color: #000;
  font-weight: 900;
  font-family: "Nunito", sans-serif;
  font-size: 32px;
  background-color: rgb(255, 255, 255);
  padding: 2px 12px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 0px;
}
