@font-face {
  font-family: "sunny-spell"; /*Can be any text*/
  src: local("AirbnbCerealLight"),
    url("./Fonts/sunny-spells/SunnyspellsRegular.otf") format("truetype");
}
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap");
body {
  margin: 0;
  font-family: Poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: beige;
  font-family: "Nunito", sans-serif !important;
}

button {
  word-wrap: break-word;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.set-font-20 {
  font-size: 20px;
  margin-bottom: 5px;
}
.set-font-16 {
  font-size: 16px;
  color: #6c0d0d;
  text-shadow: none;
  font-weight: 900;
}
.ant-modal-body {
  min-height: 172px !important;
}
.set-bg-centent-explain {
  /* background-color: rgb(204, 102, 74); */
  background: linear-gradient(180deg, #cc664a 0%, #cf7359 35%, #fcc184 100%);
  width: 32em;
  padding: 32px;
  border-radius: 32px;
  color: #fff;
}
.set-opacity-btn {
  opacity: 0.9;
  transition: 0.3s;
}
.set-opacity-btn:hover {
  transition: 0.3s;
  opacity: 1;
}

.btn.btn-success.btn-sm.active.btn-font {
  width: fit-content !important;
}

.btn.btn-success.btn-sm:hover {
  background: #105f3a;
}
.btn.btn-danger.btn-sm:hover {
  background: #99202c;
}
.btn.btn-success.btn-sm {
  width: fit-content !important;
}
.btn.btn-danger.btn-sm {
  width: fit-content !important;
}

.swal2-confirm.swal2-styled.swal2-default-outline {
  min-width: 100px !important;
}
.swal2-deny.swal2-styled.swal2-default-outline {
  min-width: 100px !important;
}

@media (max-width: 1024px) {
  .main-home-div {
    display: none;
  }
}
